html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
}

body{
    padding: 1rem;
}

:root{
    --color-very-dark-blue: hsl(233, 47%, 7%);
    --color-dark-desat-blue: hsl(244, 38%, 16%);
    --color-soft-violet: hsl(277, 64%, 61%);
    --color-white-primary: hsl(0, 0%, 100%);
    --color-light-white-primary: hsla(0, 0%, 100%, 0.75);
    --color-semilight-white-primary: hsla(0, 0%, 100%, 0.6);
}


.sketch-div{
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-very-dark-blue);
}

.preview-card,
.preview-card__image-div{
    border-radius: 5px;
}

.preview-card{
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-dark-desat-blue);
    display: inline-block;
}

.preview-card--mark{
    color: var(--color-soft-violet);    
}

.preview-card__header{
    margin-bottom: 2rem;
    text-align: center;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.preview-card__image-div{
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 345px;
    height: 275px;
    background-size: cover;
    background-position: center;
    background-color: var(--color-soft-violet);
}

.preview-card > .preview-card__image-div[src-name="mobile"]{
    background-image: url(/images/image-header-mobile.jpg);
}

.preview-card__header,
.preview-card__content{
    margin: 2rem 0;
}

.preview-card__header--heading,
.preview-card__content--stat-heading{
    color: var(--color-white-primary);
    font-weight: 700;
}

.preview-card__header--heading{
    font-size: 1.85rem;
    width: 14ch;
    margin-bottom: 0.8rem;
}

.preview-card__header--content{
    color: var(--color-light-white-primary);    
    line-height: 1.5rem;
    font-size: 0.95rem;
    width: 28ch;
}

.preview-card__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview-card__content--stat-header:not(:last-child){
    margin-bottom: 1.5rem;
}

.preview-card__content--stat-heading{
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.preview-card__content--stat-content{
    color: var(--color-semilight-white-primary);    
    font-size: 0.8rem;
}

@media screen and (min-width: 376px) {
        
    .m-grid--2x1a{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
    }

    .m-grid-index--0-0{
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }
    
    .m-grid-index--1-0{
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }

    .m-grid-rowspan-2{
        grid-row: 1 / span 2;
    }

    .preview-card__header,
    .preview-card__content{
        margin: 0;
        padding: 3rem;
    }
   
    .preview-card__header{
        text-align: left;
        justify-content: flex-start;
    }

    .preview-card__header--heading{
        width: 18ch;
    }
    .preview-card__header--content{
        width: 40ch;
    }

    .preview-card__content{
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        gap: 2rem;
        padding-top: 0;
    }

    .preview-card__content > .preview-card__content--stat-header{
        margin-bottom: 0;
    }

    .preview-card__image-div{
        grid-row: 1 / span 2;
        height: auto;
        width: auto;
        border-radius: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.grid{
    display: grid;
}


.flex{
    display: flex;
}

.flex--column{
    flex-direction: column;
}

.flex--row{
    flex-direction: row;
}

.flex--centered{
    align-items: center;
    justify-content: center;
}

.bg-blend-mode--multiply{
    background-blend-mode: multiply;
}